
.eye-monster {
	background: url(../Assets/Monsters/Eye_Monster.png);
	background-size: 592px 71px;
	width: 74px;
	height: 71px;
	animation: eye-monster-anim 0.4s steps(8) infinite;
}

@keyframes eye-monster-anim {
    100% { background-position: -592; }
}

.eye-monster-big {
	background: url(../Assets/Monsters/Eye_Monster.png);
	background-size: 1184px 142px;
	width: 148px;
	height: 142px;
	animation: eye-monster-big-anim 0.4s steps(8) infinite;
}

@keyframes eye-monster-big-anim {
    100% { background-position: -1184; }
}


.ghost-monster {
	background: url(../Assets/Monsters/Ghost_Monster.png);
	background-size: 512px 82px;
	width: 64px;
	height: 82px;
	animation: ghost-monster-anim 0.4s steps(8) infinite;
}

@keyframes ghost-monster-anim {
    100% { background-position: -512; }
}

.ghost-monster-big {
	background: url(../Assets/Monsters/Ghost_Monster.png);
	background-size: 1024px 164px;
	width: 128px;
	height: 164px;
	animation: ghost-monster-big-anim 0.4s steps(8) infinite;
}

@keyframes ghost-monster-big-anim {
    100% { background-position: -1024; }
}


.bomb-monster {
	background: url(../Assets/Monsters/Bomb_Monster.png);
	background-size: 552px 76px;
	width: 69px;
	height: 76px;
	animation: bomb-monster-anim 0.4s steps(8) infinite;
}

@keyframes bomb-monster-anim {
    100% { background-position: -552; }
}

.bomb-monster-big {
	background: url(../Assets/Monsters/Bomb_Monster.png);
	background-size: 1104px 152px;
	width: 138px;
	height: 152px;
	animation: bomb-monster-big-anim 0.4s steps(8) infinite;
}

@keyframes bomb-monster-big-anim {
    100% { background-position: -1104; }
}


.yellow-monster {
	background: url(../Assets/Monsters/Yellow_Monster.png);
	background-size: 584px 72px;
	width: 73px;
	height: 72px;
	animation: yellow-monster-anim 0.4s steps(8) infinite;
}

@keyframes yellow-monster-anim {
    100% { background-position: -584; }
}

.yellow-monster-big {
	background: url(../Assets/Monsters/Yellow_Monster.png);
	background-size: 1168px 144px;
	width: 146px;
	height: 144px;
	animation: yellow-monster-big-anim 0.4s steps(8) infinite;
}

@keyframes yellow-monster-big-anim {
    100% { background-position: -1168; }
}


.moskito {
	background: url(../Assets/Monsters/Moskito.png);
	background-size: 672px 63px;
	width: 84px;
	height: 63px;
	animation: moskito-anim 0.4s steps(8) infinite;
}

@keyframes moskito-anim {
    100% { background-position: -672; }
}

.moskito-big {
	background: url(../Assets/Monsters/Moskito.png);
	background-size: 1344px 126px;
	width: 168px;
	height: 126px;
	animation: moskito-big-anim 0.4s steps(8) infinite;
}

@keyframes moskito-big-anim {
    100% { background-position: -1344; }
}


.red-skull {
	background: url(../Assets/Monsters/Red_Skull.png);
	background-size: 584px 72px;
	width: 73px;
	height: 72px;
	animation: red-skull-anim 0.4s steps(8) infinite;
}

@keyframes red-skull-anim {
    100% { background-position: -584; }
}

.red-skull-big {
	background: url(../Assets/Monsters/Red_Skull.png);
	background-size: 1168px 144px;
	width: 146px;
	height: 144px;
	animation: red-skull-big-anim 0.4s steps(8) infinite;
}

@keyframes red-skull-big-anim {
    100% { background-position: -1168; }
}


.bat {
	background: url(../Assets/Monsters/Bat.png);
	background-size: 664px 63px;
	width: 83px;
	height: 63px;
	animation: bat-anim 0.4s steps(8) infinite;
}

@keyframes bat-anim {
    100% { background-position: -664; }
}

.bat-big {
	background: url(../Assets/Monsters/Bat.png);
	background-size: 1328px 126px;
	width: 166px;
	height: 126px;
	animation: bat-big-anim 0.4s steps(8) infinite;
}

@keyframes bat-big-anim {
    100% { background-position: -1328; }
}


.dark-bat {
	background: url(../Assets/Monsters/Dark_Bat.png);
	background-size: 616px 68px;
	width: 77px;
	height: 68px;
	animation: dark-bat-anim 0.4s steps(8) infinite;
}

@keyframes dark-bat-anim {
    100% { background-position: -616; }
}

.dark-bat-big {
	background: url(../Assets/Monsters/Dark_Bat.png);
	background-size: 1232px 136px;
	width: 154px;
	height: 136px;
	animation: dark-bat-big-anim 0.4s steps(8) infinite;
}

@keyframes dark-bat-big-anim {
    100% { background-position: -1232; }
}