
.rabbit {
	background: url(../Assets/Rabbit/Idle.png);
	background-size: 150px 66px;
	width: 75px;
	height: 66px;
	background-repeat: no-repeat;
	animation: rabbit-idle-anim 0.4s steps(2) infinite;
}

@keyframes rabbit-idle-anim {
    100% { background-position: -150px; }
}

.rabbit-jump {
	background: url(../Assets/Rabbit/Jump.png);
	background-size: 450px 70px;
	width: 75px;
	height: 70px;
	animation: rabbit-jump-anim 0.4s steps(6);
}

@keyframes rabbit-jump-anim {
    100% { background-position: -450px; }
}

.rabbit-run {
	background: url(../Assets/Rabbit/Run.png);
	background-size: 298px 70px;
	width: 75px;
	height: 70px;
	animation: rabbit-run-anim 0.4s steps(4) infinite;
}

@keyframes rabbit-run-anim {
    100% { background-position: -298px; }
}