@font-face {
	font-family: MotionControl-Bold;
	src: url(../Assets/Fonts/MotionControl-Bold.otf)
}

.name {
	font-family: MotionControl-Bold;
    text-align: center;
    transform: inherit;
    width: inherit;
    position: absolute;
    top: -1em;
    font-size: 20px;
	text-shadow: 0px 0px 1px #000000;
}

.bar {
	transform: inherit;
	position: absolute;
	border: 1px solid black;
	background-color: rgba(200, 200, 200, 0.3);
}

.bar div {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
}

.side-bar{
	height: 100%;
    width: 5px;
}

.top-bar {
	height: 5px;
	width: 100%;
	top: -2px;
}

.side-bar-1 {
    left: -7px;
}

.side-bar-2 {
    left: -13px;
}

#game {
	width: 90%;
	margin: auto;
	position: relative;
	background-color: silver;
	border: 2px lightgrey solid;
	overflow: hidden;
}

.fullscreen {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 1;
}

#game .background {
	width: 100%;
	padding-bottom: 62.5%;

	position: relative;
}

#game .layer, .object {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 2;
}

.revert-anim {
	transform: scaleX(-1);
	filter: FlipH;
}

.player {
	z-index: 4;
}

div[class^="rabbit"], div[class*=" rabbit"] {
	z-index: 3;
}