@font-face {
	font-family: MotionControl-Bold;
	src: url(../../../Assets/Fonts/MotionControl-Bold.otf)
}

html {
    background-color: white;
}
body {
    margin: 0 auto;
    /*padding: 15px;*/
    width: 100%;
    background-color: #EEEEEE;
}

.col2 {
    margin-left: 550px;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    line-height: 96vh;
    overflow: auto;
}

.col1 {
    float: left;
    width: 550px;
    background-color: gainsboro;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
}

.end {
    clear: both;
}

.bloc {
    max-width: 50px;
    max-height: 50px;
    margin: 2px;
}

table {
    vertical-align: middle;
    display: inline-block;
}

td {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    border: 1px solid black;
    background-size: 100px 100px
}

.action {
    width: 32.75%;
}

.TileSelect {
    border: 3px solid red;
}

.js {
    text-align: left;
}


.fancy {
    width:100%;
    border-bottom: 1px solid #eee; 
    line-height:0.1em;
    padding-left: 10px;
    font-weight: 700;
    font-size: 32px;
    background: inherit;
    font-family: MotionControl-Bold;
} 
.fancy span {
    background: inherit;
    padding:0 10px;
}

.box {
    display: flex;
    flex-flow: column;
}

.box .content {
    flex: 0 1 auto;
}

.box .fill {
    flex: 1 1 auto;
    overflow: auto;
}